.transform-editor {
  display: flex;
  height: 1.5em;
  /* height: 5em; */
  font-family: PingFang SC Light, Lantinghei SC, Microsoft Yahei,
    Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans;
  font-weight: lighter;
  /* margin-top: 8px; */
   align-items: center;
  justify-content: center;
}

.transform-inputting {
  /* font-size: "1em"; */
  /* line-height: "1.2em"; */
  padding: 0;
  border: 0;
  font-family: PingFang SC Light, Lantinghei SC, Microsoft Yahei,
    Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans;
  font-weight: lighter;
  /* margin-right: 2em; */
  /* width: 20em; */
}
.transform-display {
  /* width: 20em; */
  font-size: "1em";
}
.transform-display.hidden {
  display: none;
}

.transform-inputting textarea {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
}

.hidden textarea {
  border: none;
}
/* div.hidden {
  width: 0px;
} */
/* .transform-inputting,
.hidden {
  padding: 0px;
  border: 0px;
}
.transform-inputting,
.shown {
  padding: 2px;
  border: 2px;
} */

.hidden {
  width: 0px;
}

.shown {
  width: 100%;
}
